<?xml version="1.0" encoding="utf-8" ?>
<nlog xmlns="http://www.nlog-project.org/schemas/NLog.xsd"
      xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
      xsi:schemaLocation="http://www.nlog-project.org/schemas/NLog.xsd NLog.xsd">

  <targets>
    <target name="log.addin" xsi:type="File" fileName="log/addin.log" layout="${longdate} ${level}: ${message} ${exception:format=Message}" />
    <target name="log.service" xsi:type="File" fileName="log/service.log" layout="${longdate} ${level}: ${message} ${exception:format=Message}" />
    <target name="log.all" xsi:type="File" fileName="log/log-all.log" layout="${longdate} [${logger}] ${level}: ${message} ${exception:format=Message}" />
  </targets>

  <rules>
    <logger name="Addin.*" minlevel="Info" writeTo="log.addin" />
    <logger name="ZabbixStatisticsService.*" minlevel="Info" writeTo="log.service" />
    <logger name="*" minlevel="Info" writeTo="log.all" />
  </rules>
</nlog>
